.catalogPage {
  display: flex;
  gap: 64px;
  justify-content: center;
  padding: 20px 0;
}

.campersList h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.filters {
}
