.camperDetails {
  max-width: 1200px; /* Increase the container width */
  margin: 0 auto; /* Center the container */
}

.camperDetails h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  margin-bottom: 6px;
}

.description {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 60px;
}

.gallery {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 28px;
}

.starIcon {
  color: #ffd700;
}

.cardMeta {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  fill: var(--main-color);
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.camperImg {
  border-radius: 10px;
  object-fit: cover;
  max-width: 292px;
  max-height: 320px;
  min-width: 292px;
  min-height: 320px;
}

.price {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.price p {
  color: var(--main-color);
}
