.camperCard {
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #fff;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.featureIcon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    width: 24px;
    height: 24px;
    fill: var(--main-color); /* Optional: Define a default fill color */
}
