:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-color: #101828;
  --text-color: #475467;
  --gray-color: #475467;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --imputs-color: #f7f7f7;
  --white-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*reset css*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.loader {
  color: var(--main-color);
  font-size: 150px;
}
